doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/styleguide.css")
  body.styleguide
    header
      h1 Styleguide
      nav
        ul
          li: a(href="front/") Desktop
          li: a(href="sp/") Mobile
    article
      != yield
    footer
      author suisho
      