mixin description
  .description
    block

mixin example
  .example
    block
    .code
      pre: code: block

mixin guide(title)
  .guide
    .title #{title}
    block

+guide("Button")
  +description
    div blue-button - 説明文です
  +example
    .button Push this
  